*{
    box-sizing: border-box;
}
body {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #1a1a40;
}
* {
  color: #0a0a0a;
}
#btn-primary {
  cursor: pointer;
  letter-spacing: 2px;
  word-spacing: 3px;
  margin-top: 50px;
  font-size: 2em;
  padding: 10px 20px;
  width: fit-content;
  transform: scale(1.5);
  border-radius: 30px;
  border: none;
  background-color: #270082;
  box-shadow: 1px 0px 1px 1px #0a0a0a;
}
#btn-primary:hover {
  transform: scale(1.55);
  transition: 0.5s;
}
.btn:hover {
  transform: scale(1.5);
  transition: 0.5s;
}
#time {
  margin-top: 50px;
  visibility: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.btn {
  cursor: pointer;
  border: none;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin: 20px 20px 20px 20px;
  font-size: 1em;
  padding: 10px 20px;
  width: fit-content;
  transform: scale(1.3);
  border-radius: 30px;
  background-color: #270082;
  box-shadow: 1px 0px 1px 1px #0a0a0a;
}
.start {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  margin: auto;
}
#first{
    background-color: #AAAAAA;
}
#first{
    display: block;
}
#discription1{
    display: none;
}
.button{
    font-size:3rem;
    color: #1a1a40;
}
#first{
    font-size: 2rem;
}
#next-btn{
    cursor: pointer;
    border: none;
    letter-spacing: 1px;
    word-spacing: 2px;
    margin: 20px 20px 20px 20px;
    font-size: 1em;
    padding: 10px 20px;
    width: fit-content;
    transform: scale(1);
    border-radius: 30px;
    background-color: #270082;
    box-shadow: 1px 0px 1px 1px #0a0a0a;
}
#next-btn:hover {
    transform: scale(1.2);
    transition: 0.5s;
  }

